<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FandomWiki</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <logoLabel onclick="window.location.href='@Url.Page("/Index")'">
            FandomWiki
        </logoLabel>
        <searchBlock>
            <form method="post" asp-page="CommunitySearchResult">
                <input type="text" name="SearchLine" placeholder="выберите сообщество" />
                <input type="submit" value="найти" />
            </form>
        </searchBlock>
        <accountBlock>
            <input type="button" value="войти"/>
        </accountBlock>
    </header>
    <contentBlock>
        @RenderBody()
    </contentBlock>
</body>
</html>