@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_IndexLayout";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="mainMessage">
    Найдите нужное сообщество
</div>

